:root {
  --color-accent: #782cff;
  --gradient-accent: linear-gradient(180.24deg, #8743ff 0.21%, #4136f1 230.1%);
  --color-button-text: #fff;

  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-400: #4f617a;
  --color-primary-500: #404f64;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;

  --m2v-blue: #007aff;
  --m2v-brown: #a2845e;
  --m2v-gray: #8e8e93;
  --m2v-green: #28cd41;
  --m2v-orange: #ff9500;
  --m2v-pink: #ff2d55;
  --m2v-purple: #af52de;
  --m2v-red: #ff3b30;
  --m2v-yellow: #ffcc00;
}
