.btn {
  align-items: center;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: bold;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  text-align: center;
  transition: transform 250ms ease;

  &:active {
    transform: translateY(2px);
  }
}

.btn {
  background-color: var(--color-primary-700);
  color: var(--color-button-text);

  &:hover {
    background-color: var(--color-primary-600);
  }

  &:disabled {
    background-color: var(--color-primary-600);
    color: var(--color-primary-300);
  }
}

.btn.link {
  background-color: transparent;
  color: var(--color-primary-100);
  font-weight: 500;
  text-transform: none;
  text-decoration: underline;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.btn.primary {
  background-color: var(--color-accent);
  color: var(--color-button-text);

  &:hover {
    background-color: #9255ff;
  }

  &:disabled {
    background-color: #9255ff;
    color: #e3c0ff;
  }
}

.btn.rounded {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 42px;
  justify-content: center;
  padding: 0;
  width: 42px;
  // TEST
  font-size: 17px;
}
